[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
pdfplumber = "*"
opencv-python = "*"
mediapipe = "*"
ffmpeg-python = "*"
av = "*"

[dev-packages]

[requires]
python_version = "3.10"
